@import "~materialize-css/dist/css/materialize.min.css";
@import "~axios-progress-bar/dist/nprogress.css";

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: center;
}

button {
  margin: 8px;
}

button[type="delete"] {
  border: 1px solid red!important;
}

.file-path {
  color: black!important;
}
